<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheet %}

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('theme/css/portfolio-item.css') }}" rel="stylesheet">
    {% endblock stylesheet %}
</head>
{% block test %}







{% endblock test %}

<body>
{% block nav %}




        



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
           <a class="navbar-brand" href="{% block downloadButtonLink %}#{% endblock %}">{% block downloadButton %}start Boostrap{% endblock downloadButton %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">



                    <li class="nav-item {% block navHomeActive %}{% endblock %}">
                        <a class="nav-link" href="{% block navHomeLink %}#{% endblock navHomeLink%}">{% block navHome %}Home{% endblock navHome %}





                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% block navAboutActive %}{% endblock %}">
                        <a class="nav-link" href="{% block navAboutLink %}#{% endblock navAboutLink %}">{% block navAbout %}About{% endblock navAbout %}</a>







                    </li>
                    <li class="nav-item {% block navServicesActive %}{% endblock %}">
                        <a class="nav-link" href="{% block navServicesLink %}#{% endblock navServicesLink %}">{% block navServices %}Services{% endblock navServices %}</a>
                    </li>
                    <li class="nav-item{% block navContactActive %}{% endblock %}">
                        <a class="nav-link" href="{% block navContactLink %}#{% endblock navContactLink %}">{% block navContact %}Contact{% endblock navContact %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}
{% block main %}



    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{% block pageHeading %}Page Heading{% endblock pageHeading %}



            <small>{% block secondarytxt %} Secondary Text{% endblock secondarytxt %}


            </small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            {% block diapo %}
                        <div id="viewer"class="col-md-8" >

                            <img   class="img-fluid"  {% block src %}src="http://placehold.it/750x500.jpg"{% endblock src %}>






                        </div>
            {% endblock diapo %}

            {% block witchOne %}


            <div class="col-md-4">
                <h3 class="my-3">Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>





                <h3 class="my-3">Witch one do you want ?</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>

                </ul>
            </div>
            {% endblock witchOne %}
        </div>
        <!-- /.row -->
        {% block thumbnailsHead %}



        <!-- Related Projects Row -->
        <h3 class="my-4">Related Projects</h3>




            <div class="row rowThumbs">{% endblock thumbnailsHead %}
                {% block thumbnails %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>
                {% endblock thumbnails %}
            </div>
            <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock main %}

{% block footer %}



<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock footer %}
{% block javaScript %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock javaScript %}
</body>

</html>
